.input-wrapper {
    margin-bottom: 16px;
  }
  
  .input {
    width: 200;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    color: black;
    transition: color 200ms ease-in-out;
    font-weight: 150;

  }
  
  .input::placeholder {
    color: black; 
  }
  
  .input--danger {
    border-color: red;
  }
  
  .input--danger::placeholder {
    color: red;
  }
  
  .input-label {
    display: block;
    margin-bottom: 8px;
    color: black;
  }
  
  .label--danger {
    color: red;
  }
  