.input-wrapper {
    margin-bottom: 16px;
  }
  
  .input {
    font-family: 'Inter', sans-serif;
    border-radius: 4px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    width: 300px;
    transition: border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  }
  
  .input:focus {
    border-color: royalblue;
    box-shadow: 0 0 4px rgba(65, 105, 225, 0.5);
  }
  
  .input--danger {
    border-color: red;
    color: red;
  }
  
  .input-label {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .label--danger {
    color: red;
  }
  