.my-button {
    min-width: 120px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.my-button--primary {
    background-color: #674a02;
    color: white;
}

.my-button--bordered {
    background-color: #674a02;
    color: white;
}